<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- 将配置好的log4j.xml 放到项目的classpath下即可 -->
	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-d{yyyy-MM-dd HH:mm:ss.SSS} %5p (%F:%L) - %m%n" />
		</layout>
	</appender>

	<appender name="rolling" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${catalina.base}/logs/xiuxing_rolling.log" />
		<param name="MaxFileSize" value="100KB" />
		<param name="MaxBackupIndex" value="100" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p %t %c:%L - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="warn" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>

	<appender name="daily" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.base}/logs/xiuxing_daily.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{HH:mm:ss SSS} %-5p] [%t] %c:%L - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="warn" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>

	<logger name="com.xiuxinger.origin"><level value="DEBUG" /></logger>

	<logger name="org.apache"><level value="INFO" /></logger>

	<logger name="org.springframework"><level value="INFO" /></logger>

    <logger name="org.fish"><level value="DEBUG" /></logger>
    
	<!-- Root Logger -->
	<root>
		<priority value="warn" />
		<appender-ref ref="console" />
		<appender-ref ref="rolling" />
		<appender-ref ref="daily" />
	</root>
</log4j:configuration>